  
beautifulsoup4
bleach
bs4
cffi
Cython
decorator
defusedxml
entrypoints
Flask
future
geographiclib
geopy
geos
glfw
idna
imageio
ipykernel
ipython
ipython-genutils
ipywidgets
itsdangerous
jedi
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
kiwisolver
line-profiler
lockfile
lxml
MarkupSafe
matplotlib
memory-profiler
mistune
nbconvert
nbformat
notebook
numpy
pandas
pandocfilters
parso
patsy
pexpect
pickleshare
Pillow
prometheus-client
prompt-toolkit
psutil
ptyprocess
pycparser
pyglet
Pygments
PyOpenGL
pyparsing
pyproj
pyrsistent
pyshp
python-dateutil
pytz
pyzmq
qtconsole
requests
scipy
seaborn
Send2Trash
setuptools
six
soupsieve
statsmodels
terminado
testpath
tornado
traitlets
urllib3
wcwidth
webencodings
Werkzeug
widgetsnbextension
